[Unit]
Description=TaskApp Backend API
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
WorkingDirectory={{ backend_app_dir }}
EnvironmentFile={{ backend_app_dir }}/.env

ExecStart={{ backend_venv_dir }}/bin/gunicorn \
  --workers {{ backend_gunicorn_workers }} \
  --bind {{ backend_bind_address }} \
  run:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
